.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  @include panel-gradient($black-color);
  position: relative;
  overflow: hidden;

  .header{
    .title{
      color: $white-color;
    }
    .category{
      max-width: 600px;
      color: $opacity-5;
      margin: 0 auto;
      font-size: 13px;

      a{
        color: $white-color;
      }
    }
  }
}

// import settings :
@import 'gridle/settings';
@import "../scss/gridlex/gridlex.scss";

#sidebar {
  background : yellow;

  // update sidebar look and feel for tablet
  @include g-state(tablet) {
    background : red;
  }
}
